 @media only screen and (max-width: 600px) {
        img{
          padding:8px;
          max-width:100%;
          height:auto;
              }
        body{
        background-color: green;
	      }
      }
  canvas {
       border: 1px solid #d3d3d3;
       background-color: #f1f1f1;
  }
